/**
* Copyright 2012 Facebook, Inc.
*
* You are hereby granted a non-exclusive, worldwide, royalty-free license to
* use, copy, modify, and distribute this software in source code or binary
* form for use in connection with the web services and APIs provided by
* Facebook.
*
* As with any software that integrates with the Facebook platform, your use
* of this software is subject to the Facebook Developer Principles and
* Policies [http://developers.facebook.com/policy/]. This copyright notice
* shall be included in all copies or substantial portions of the software.
*
* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
* IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
* FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
* THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
* LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
* FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
* DEALINGS IN THE SOFTWARE.
*
*/

html {
  background: #111;
}
body {
  font-family: sans-serif;
  margin: 0;
  color: #fff;
}
article {
  overflow: hidden;
}
article img {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  padding-bottom: 200px;
}
article heading {
  position: absolute;
  top: 0;
  background: rgba(0,0,0,0.5);
  width: 100%;
  color: #fff;
  line-height: 3em;
}
article heading h1 {
  font-size: 1.5em;
  margin: 0 0.66em 0;
  float: right;
  font-weight: normal;
}
article p {
  display:none;
}

article footer {
  position: absolute;
  top: 700px;
  background: rgba(0,0,0,0.5);
  width: 100%;
  color: #fff;
  line-height: 3em;
  -webkit-transition: top 0.2s;
}
article footer a.prev {
  float: left;
  padding: 0 2em 0 1em;
}
article footer button {
  font-size: 1em;
  line-height: 3em;
  display: block;
  margin: 0 auto;
  border: 0;
  padding: 0 2em;
  background: rgba(0,0,0,0.5);
  color: #fff;
}
article footer a.next {
  float: right;
  padding: 0 1em 0 2em;
}
a {
  color: #fff;
  text-decoration: none;
}
